.how-it-works {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards img {
  height: 140px;
}

.cards p {
  font-size: 1em;
}

.card {
  margin: 10px 40px;
  padding: 20px;
  width: 200px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
